{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listing Page</title>
    <link rel="stylesheet" href="{% static 'css/django_listing_page.css' %}">
</head>
<body>
    <!-- success message after submission -->
        {% if messages %}
            {% for m in messages %}
                <div class="alert">
                    <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <p> {{ m }}</p>
                </div>
            {% endfor %}
        {% endif %} 

    <nav>
        <form method="GET" action="{% url 'searchlist' %}">
            {% csrf_token %}
            <input type="text" placeholder="Type First Name / Email" id="search_bar" name = "search_bar">
            <input type="submit" value="Search" id="search_button">
        </form>
    </nav>
    
    
    <div class="container">
        <div class="heading-title">
            <h1>Application Listing Page</h1>
            <div class="newform">
                <!-- button for new form -->
                <a href="{% url 'new_user' %}"><button id="butt-2">New Form</button></a>
            </div>
        </div>
        <!-- table for displaying registered users -->
        <table>
            <tr class="heading">
                <th>Sl No</th>
                <th>Name</th>
                <th>Email</th>
                <th>Job Role</th>
                <th>Phone Number</th>
                <th>Action 1</th>
                <th>Action 2</th>
            </tr>
            {% for i in data %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.first_name}} {% if i.last_name %} {{i.last_name}} {% endif %}</td> 
                <td>{{i.email}}</td>
                <td>{{i.job_role}}</td>
                <td>{{i.code}} {{i.phone}}</td> 
                <!-- edit user data button    -->
                <td><a href="{% url "update" i.id %}"><img id="edit-icon" src="{% static 'icons/edit_icon.png' %}"></a></td>
                <!-- delete button for existing user -->
                <td><a href="{% url "delete" i.id %}"><img id="delete-icon" src="{% static 'icons/delete_icon.png' %}"></a></td>
            </tr>
            {% endfor %}    
        </table>        
    </div>    
</body>
</html>